.navbar-menu
    align-items: center !important
    padding-top: 15px
    padding-bottom: 15px
.navbar-item
    margin-right: 15px
    margin-left: 15px
    font-size: 18px
    font-weight: 600
    text-transform: uppercase
    color: #fff !important
    opacity: 0.5
    letter-spacing: 2px
    &:hover
        opacity: 1
        text-shadow: 1px 1px 3px #807d77


@media screen and (max-width: 768px)
    .navbar-menu
        background-color: #12141d !important
    .navbar-item
        font-size: 16px
    .navbar-burger
        span
            background-color: #fff !important
            height: 2px !important
            z-index: 10


